/* // Mini Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

/* main styles */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 650px;
  border-radius: 30px;
  background: linear-gradient(145deg, #ffffff, #d5d5d5);
  box-shadow: 12px 12px 24px #858585, -12px -12px 24px #ffffff;
  padding: 20px;
}

.header__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.main__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.today {
}

.today__title {
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.today__date {
  padding-left: 20px;
  font-size: 30px;
  color: darkslateblue;
  font-weight: 700;
}

.icon {
    position: absolute;
    right: 180px;
    bottom: 31px;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 2px 2px 3px #9c9c9c, -1px -1px 1px #ffffff;
    border-radius: 25px;
    height: 100px;
}

.temp {
  font-size: 130px;
  color: darkslateblue;
}

.other__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
  margin-bottom: 30px;
  /* margin-right: 25px; */
}

.other__wrapper li {
    border-right: 1px solid #000;
    text-align: center;
    width: 150px;   
}

.other__wrapper li:first-child {
    border-left: 1px solid #000;    
}


#cities {
  margin-top: 10px;
  border: 1px solid blue;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 30px;
  border-radius: 31px;
  background: linear-gradient(145deg, #fefefe, #d5d5d5);
  box-shadow: 1px 1px 7px #797979, -7px -7px 14px #ffffff;
}

select {
  display: block;
  height: 100%;
  text-align: center;
  border: 0;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
