body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 10px;
}

/* main styles */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  transform: translateY(50%);
  max-width: 650px;
  border-radius: 30px;
  background: linear-gradient(145deg, #ffffff, #d5d5d5);
  box-shadow: 10px 10px 30px rgb(88, 80, 80);
  padding: 20px;
}

.header__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.main__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.today__title {
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.today__date {
  padding-left: 20px;
  font-size: 30px;
  color: darkslateblue;
  font-weight: 700;
}

.icon {
    position: absolute;
    right: 180px;
    bottom: 31px;
    background: linear-gradient(145deg, #acacac, #fefefe);
    box-shadow: 2px 2px 3px #9c9c9c, -1px -1px 1px #ffffff;
    border-radius: 25px;
    height: 100px;
}

.temp {
  font-size: 130px;
  color: darkslateblue;
}

.other__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.other__wrapper li {
    border-right: 1px solid #000;
    text-align: center;
    width: 150px;   
}

.other__wrapper li:first-child {
    border-left: 1px solid #000;    
}

#cities {
  margin-top: 10px;
  border: 1px solid blue;
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 30px;
  border-radius: 31px;
  background: linear-gradient(145deg, #fefefe, #d5d5d5);
  box-shadow: 1px 1px 7px #797979, -7px -7px 14px #ffffff;
}

select {
  display: block;
  height: 100%;
  text-align: center;
  border: 0;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Animation background */
.color-change-5x {
	-webkit-animation: color-change-5x 20s linear infinite alternate both;
	        animation: color-change-5x 20s linear infinite alternate both;
}

 @-webkit-keyframes color-change-5x {
  0% {
    background: skyblue;
  }
  25% {
    background:darksalmon;
  }
  50% {
    background: #ea9a22;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
/* Animation text */

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 620px) {
  .main {
    transform: translateY(50%);
  }
  .header {
    display: none;
  }
  .today {
    max-width: 200px;
    text-align: center;
    margin-right: 10px;
  }
  .today__title {
    padding-top: 20px;
  }
  .today__date {
    font-size: 30px;
    padding: 0;
  }
  @media (max-width: 520px) {
    .main {
      max-height: 50vh;
      transform: translateY(50%);
    }
    .main__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
    }
    .today {
      max-width: 300px;
    }
    .today__date {
      font-size: 40px;
      padding: 0;
    }
    .today__title {
      padding-top: 0px;
    }
    .icon {
      display: none;
    }
    .other__wrapper li {
      padding: 0 4px;
      font-size: 14px
    }
    @media (max-width: 450px) {
      .main {
        height: 100vh;
        margin: 5px;
      }
      .other__wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0 4px;
        text-align: center;
        border: none;      
        margin-bottom: 10px;
      }
      .other__wrapper li  {
        border: none !important;
        margin-bottom: 10px;
        font-size: 15px;
      }
      select {
        font-size: 20px;
      }
    }
    @media (max-width: 380px) {
      .main {
        padding: 10px;
        max-height: 300px;
      }
      .today {
        font-size: 20px;
      }
      .today__title {
        font-size: 15px;
      }
      .temp {
        font-size: 100px;
      }
      .today__date {
        font-size: 35px;
      }
      #cities {
        margin-bottom: 20px;
      }
    } 

    @media (min-width: 320px) {     
      .main {
        display: flex;
        justify-content: space-between;
        height: 100vh;
        transform: translateY(50%);
      }
      .today {
        font-size: 10px;
      }
      .today__title {
        font-size: 20px;
      }
      .today__date {
        font-size: 25px;
      }
      .temp {
        font-size: 80px;
      }
    }
  }
};





